.rotate-up {
  transform: rotate(180deg);
  transition: transform 300ms ease; }

.rotate-down {
  transform: rotate(0deg);
  transition: transform 300ms ease; }

.move-up {
  transform: translateY(-100vh);
  transition: transform 250ms ease-in; }

.move-down {
  transform: translateY(0);
  transition: transform 250ms ease-out; }

.move-up-slow {
  animation: moveSlow 30s ease-in-out, goodBye 6s 2s ease-in; }

@keyframes goodBye {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes moveSlow {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-99.9vh); } }

.h-3rem {
  height: 3rem !important; }

.py-25 {
  padding-top: 0.70rem;
  padding-bottom: 0.70rem; }

.smaller-font {
  font-size: 1rem; }

.smallest-font {
  font-size: 0.75rem; }

.font-regular {
  font-size: 0.90rem; }

.upper-small {
  font-size: 0.75rem; }

.py-7 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

#navigation ul {
  height: 100vh; }

#navigation li {
  padding: 1rem 0;
  font-weight: lighter; }

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; }

#dropDown-options {
  min-height: 20rem;
  border-top: 2px solid #008488 !important; }

.font-2 {
  font-size: 1.3rem; }

.text-brown {
  color: #734f22; }

.bg-lightWhite {
  background-color: rgba(255, 255, 255, 0.95); }

.bg-lightDark {
  background-color: rgba(0, 0, 0, 0.8); }

.bg-leftWhite {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); }

.z-50 {
  z-index: 50; }

.z-100 {
  z-index: 100; }

.z-150 {
  z-index: 150; }

.z-200 {
  z-index: 200; }

.z-negative {
  z-index: -200; }

.z-negative100 {
  z-index: -100; }

.size-190-85 {
  height: !important;
  min-width: 190px;
  max-width: 190px; }

.set-height {
  height: 80vh !important;
  min-height: 550px !important;
  max-height: 900px !important; }

.overflow-x {
  overflow-x: auto;
  -ms-overflow-style: none; }

.overflow-x::-webkit-scrollbar {
  width: 0 !important; }

.btn-main {
  background-color: #ff595e;
  color: white; }

#img1,
#img2 {
  top: -10vh;
  width: 100%;
  height: 100vh !important;
  min-height: 650px !important;
  max-height: 1000px !important; }

#img1 {
  background: url("/images/misc/vacation1.jpeg") center no-repeat;
  background-size: cover; }

#img2 {
  background: url("/images/misc/vacation2.jpeg") center no-repeat;
  background-size: cover; }

#plus-img {
  background: url("/images/misc/airbnbplus.jpeg") no-repeat center bottom;
  background-size: cover;
  height: 300px;
  width: 100%; }

.h-300 {
  height: 300px; }

.top-30 {
  top: 30%; }

#start-rating svg {
  margin: 0 0 0.25rem;
  color: #008488; }

.overflow-hidden {
  overflow: hidden; }

.position-lb-0 {
  bottom: 0;
  left: 0;
  right: 0; }

.position-rt-0 {
  right: 0;
  top: 0.95rem; }

.position-right-bottom {
  bottom: 1.5rem;
  right: 1.5rem; }

.position-right-top {
  top: 1.5rem;
  right: 1.5rem; }

.position-left-bottom {
  bottom: 1.5rem;
  left: 1.5rem; }

.host-picture-circle {
  height: 3rem !important;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  border-radius: 50%;
  background-color: black;
  right: 0.5rem;
  bottom: 0; }

.text-green {
  color: #008487; }

#map {
  height: 400px; }

@media only screen and (max-width: 576px) {
  .drop {
    border-bottom: 1px solid #dee2e6 !important; } }

@media only screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important; } }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: black; }

.cursor {
  cursor: pointer; }

.border-shadow {
  border: 0.5px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.hover-shadow:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.border-b {
  border-bottom: 2px solid transparent; }

.hover-border:hover {
  border-bottom: 2px solid black; }

button:focus,
input:focus {
  box-shadow: none !important;
  outline: 0; }

svg {
  margin: 0 0.30rem 0.25rem 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-nowrap {
  white-space: nowrap; }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 800px; } }
