.size-190-85 {
  @include width-height(190px, null);
}

#main-gallery,
.set-height {
  height: 80vh !important;
  min-height: 550px !important;
  max-height: 900px !important;
}

.overflow-x {
  overflow-x: auto;
  -ms-overflow-style: none;
}

.overflow-x::-webkit-scrollbar {
  width: 0 !important;
}

.btn-main {
  background-color: #ff595e;
  color: white;
}

#img1 {
  width: 100%;
  height: 80vh !important;
  min-height: 550px !important;
  max-height: 900px !important;
  background: url("/images/misc/vacation1.jpeg") center no-repeat;
  background-size: cover;
}

#plus-img {
  background: url("/images/misc/airbnbplus.jpeg") no-repeat center bottom;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.h-300 {
  height: 300px;
}

.top-30 {
  top: 30%;
}

#start-rating {
  svg {
    margin: 0 0 0.25rem;
    color: #008488;
  }
}