.btn-grey {
  background-color: white;
  &:hover {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
  }
}

.fixed {
  position: fixed;
}

.mt-6 {
  margin-top: 5rem;
}

.mt-5plus {
  margin-top: 4.5rem;
}

.w-65 {
  width: 65%;
}

.w-35 {
  width: 35%;
}

.top-145 {
  top: 145px;
}

.right-0 {
  right: 0;
}