@import "mixing";
@import "animation";
@import "navigation";
@import "homepage";
@import "individual";
@import "medialess767";
@import "medialess576";
@import "mediamore992";
@import "medialess992";
@import "searchpage";
@import "restaurant";

body , html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.cursor {
  cursor: pointer;
}


.color-green {
  color: #008488;
  &:hover {
    color: #008488;
  }
}

.border-shadow {
  border: 0.5px solid rgb(235,235,235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-shadow:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.border-b {
  border-bottom: 2px solid transparent;
}

.hover-border:hover {
  border-bottom: 2px solid black;
}

button:focus,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

svg {
  margin: 0 0.30rem 0.25rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-nowrap {
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 800px;
  }
}